body {
    background-image: url("../images/leaves.png");
    background-repeat: repeat;    
}

header {
    background-color: #ffffff;
    margin: auto;
    width: 50em;
    width: 100%;
    height: 3.9em;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-color: #cccccc;
    border-width: .1em;
    border-bottom-style: solid;
}

#about, #portfolio, #contact, #name {
    float: left;
    background-color: #ffffff;
}

#name {
    margin-left: 5em;
    background-color: #4aaaa5;
    padding: 1em 2em;
    color: white;
    font-size: 1.3em;
}

#about, #portfolio {
    float: right;
    background-color: #ffffff;
    margin-left: 1em;
    font-size: .9em;
    padding: 1.5em;
}

#portfolio {
    border-left: .1em solid #eeeded;
    border-right: .1em solid #eeeded;
}

#contact {
    margin-right: 2em;
    float: right;
    background-color: #ffffff;
    font-size: .9em;
    padding: 1.5em;
}

h2 {
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
    margin-inline-start: 0em;
    font-weight: bold;
}

.mainbox {
    color: #777777;
    margin-left: 6.5em;
    width: 57em;
    margin-top: 2em;
    padding: 1em 2.5em;
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: .1em;
    border-style: solid;
    overflow: auto;
}


#content {
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: .1em;
    border-style: solid;
}

.selfie {
    float: left;
    display: block;
    width: 30%;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

span {
    display: inline-block;
}

hr {
    display: block;
    height: .1em;
    border: 0;
    border-top: .1em solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.contact-name, .contact-email, .contact-message {
    width: 55em;
    color: black);
    padding-bottom: 1em;
}

#contact-message {
    height: 10em;
}

button {
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 1em;
    color: white;
    background-color: #4aaaa5;
}

.container {
    float: left;
    background-color: #ffffff;
}

.module {
    background: url("../images/image01.jpeg");
    width: 15em;
    height: 7.5em;
    position: relative;
    overflow: hidden;
    margin-right: 1em;
    float: left;
  }

  .imagepic {
      float: left;
  }

  .module > .imagepic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 0em;
  }
  .module > .imagepic > h3 {
    margin: 0;
    color: white;
    text-shadow: .1em .1em 0 black;
  }

  h3 {
      background-color: #4aaaa5;
      padding: .5em;
      text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }